In [ ]:
import numpy as np 
import math as m

def theMax(numbers):
  my_max = numbers[0]
  for i in numbers:
    if my_max < i: 
      my_max = i 
  return my_max 

def theMin(numbers): 
  my_min = numbers[0]
  for i in numbers: 
    if my_min > i: 
      my_min = i 
  return my_min

def theAverage(numbers): 
  total = 0 
  for i in numbers: 
    total += i 
  return total/len(numbers)

def theGeoMean(numbers): 
  total = 1 
  for i in numbers: 
    total *= i 
  return total**(1/len(numbers))

def theStandardDev(numbers):
  theAvg = theAverage(numbers)
  total = 0 
  for i in numbers:
    total = total + (i-theAvg)**2
  return m.sqrt(total/(len(numbers)-1))

a = [8,6,2,9,13,3]
print(theMax(a))
print(theGeoMean(a))
print(theStandardDev(a))

13
5.683245170896967
4.070217029430577

In [ ]:
def circleArea(radius): 
  return m.pi*radius**2

def rectangleArea(length, width): 
  return length*width 

def squareArea(side):
  return side*side 

def triangleArea(base, height):
  return base*height/2 

def generalArea():
  value = input("Which would you like to know the area of [circle, square, rectangle, triangle]")
  if value is 'circle': 
    radius = float(input("What's the radius?"))
    print(f"The area is {circleArea(radius)}.")
  elif value is 'retangle': 
    radius = float(input("What's the radius?"))
    print(f"The area is {rectangleArea(radius)}.")
  elif value is 'square':
    radius = float(input("What's the radius?"))
    print(f"The area is {squareArea(radius)}.")
  elif value is 'triangle':
    radius = float(input("What's the radius?"))
    print(f"The area is {triangleArea(radius)}.")
    
  

generalArea()

Which would you like to know the area of [circle, square, rectangle, triangle] circle

In [ ]:
def listDoubling():
  x = [1,2,3]
  y = [1,2,3]
  choice = int(input("Would you like it doubled by way one (1) or way two (2)?"))
  if choice == 1: 
    print(x+y)
  else: 
    print(np.array(x)+ np.array(y))

listDoubling()

Would you like it doubled by way one (1) or way two (2)? 2
[2 4 6]

In [ ]:
def concatenatePositions(list1, list2): 
  myBigList = []
  for i in range(len(list1)):
    myBigList.append(float(str(list1[i])+str(list2[i])))
  return myBigList

list1 = [1,2,3]
list2 = [7,8,9]
bigList = concatenatePositions(list1,list2)
print(bigList)

[17.0, 28.0, 39.0]

In [ ]:
def isPrime(num):
  for i in range(2,num):
    if (num%i == 0):
      return False 
    return True 

def listPrimes(amount): 
  myList = []
  count = 0 
  checkVal = 2
  while (count < amount):
    if(isPrime(checkVal)): 
      myList.append(checkVal)
      count += 1 
    checkVal += 1
  return myList 

print(listPrimes(100))

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199, 201]

In [ ]:
def calculation(one,two): 
  return one*two,one/two 

myVal = calculation(9,2)
print(myVal[0])
print(myVal[1])

18
4.5

In [ ]:
myList = []
for i in range(1000):
  if (i%3 == 0) or (i%5 == 0): 
    myList.append(i)

total = 0 
for i in myList: 
  total = total + i 

print(total)

233168

In [ ]:
bound = 500 
numOne = 1 
numTwo = 1 
numThree = numOne + numTwo 
total = 0 

while numThree < bound: 
  numThree = numOne + numTwo 
  if numThree%2 == 0 and numThree < bound: 
    total += numThree 
  numOne = numTwo 
  numTwo = numThree 

print(total)

188